<h1>Restaurants#new</h1>
<p>Find me in app/views/restaurants/new.html.erb</p>
<div class="container flexbox">
  <%= form_for(@restaurant) do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>
    <div>
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>
    </div>
    <div>
      <%= f.label :category %>
      <%= f.text_field :category %>
    </div>
    <br>
    <%= f.submit %>
  <% end %>
  <br>
  <%= link_to "Back to list", restaurants_path, class: "btn btn-primary"%>
</div>

